<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<!-- title of the document -->
<suite name="finalexam">
    <test name="automation_exam" parallel="false" preserve-order="true">
        <classes>
            <class name="tests.LoginPageTest">
                <methods>
                    <include name="loginTest" />
                </methods>
            </class>
            <class name="tests.AppointmentPageTest">
                <methods>
                    <include name="submitAppointmentInfor" />
                </methods>
            </class>
        </classes>
    </test>
</suite>